@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html{
	font-size: 10px;
	font-family: 'Poppins', sans-serif;;
}
a{
	text-decoration: none;
}
.container{
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
}
.section-title{
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-top: 10px;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}
.section-title span{
	color: crimson;
}
.cta{
	display: inline-block;
	padding: 10px 30px;
	color: red;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .3s ease background-color;
	transition-property: background-color, color;
}
.cta:hover{
	color: white;
	background-color: crimson;
}
.brand h1{
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span{
	color: crimson;
}
/* Header*/
#header .header-container{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.75) ,rgba(0,0,0,0.75)),url(red-smoke.png)
}
#header .topnav {
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#header .topnav .logo{
	width: 120px;
	cursor: pointer;
}
#header .topnav ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}
#header .topnav ul li a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


#header .topnav a:hover {
  background-color: crimson;
  color: black;
}

#header .topnav a.active {
  background-color: radial-gradient( circle farthest-corner at 53.8% 21.2%, #38ddd6 0%, rgba(75,126,92,1) 100.2% );;
  color: white;
}
#header .brand h1 {
	color: black;
}
/* End Header*/
/*Hero Section*/

#header .hero{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px
	justify-content: flex-start;
}
#header h1{
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal .5s ease forwards;
	animation-delay: 1s;
}
#header h1:nth-child(1){
	animation-delay: 1s;
}
#header h1:nth-child(2){
	animation-delay: 2s;
}
#header h1:nth-child(3){
	animation: text_reveal_name .5 ease forwards;
	animation-delay: 3s;
}
#header h1:nth-child(1) span{
	animation-delay: .5s;
}
#header h1:nth-child(2) span{
	animation-delay: 1.5s;
}
#header h1:nth-child(3) span{
	animation-delay: 2.5s;
}
#header h1 span{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: crimson;
	animation: text_reveal_box 1s ease;
	animation-delay: .3s;
}
#header h2 {
	font-size: 2rem;
	position: relative;
	color: white;
}
.tre-container{
	width: 100%;
	height: 100vh;
	background-image: url(red-smoke.png);
}
.tre-container{
	margin-left: 10%;
	margin-right: 10%;
}
.tre-container h1{
	font-size: 2rem;
	font-weight: 100;
	margin-top: 24px;
	margin-bottom: 15px;
	color: #232d60;
}
}
.tre-container p {
	font-size: 20px;
	color: #6a7199;
}

#tre .tre-img{
	height: 100%;
	width: 100%;
	margin-left: auto;
    margin-right: auto;
	position: absolute;
	bottom: -1150px;
	left: 0px;
}
.tre-p2 h1{
	font-size: 60px;
	font-weight: 100;
	margin-left: 10%;
	margin-right: 10%; 
	margin-top: 24px;
	margin-bottom: 15px;
	position: absolute;
	bottom: -850px;
	color: black;
}

/* End Hero Section/*


/* Services Section*/
.hizmet{
	position:absolute;
    left: 30%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
}
.hizmet h1{
	color: crimson;
	font-size: 15rem;
	text-transform: capitalize;
}
#services .services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#services .service-top {
	max-width: 500px;
	margin: 0 auto;
}
#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#services .service-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(laptop.png);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: .9;
	z-index: -1;
}
#services .service-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}
#services .service-item h2 {
	font-size: 2rem;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#services .service-item p {
	color: white;
	text-align: left;
}

/* End Services Section*/
/* Corporate Section */
.kurumsal{    
    position:absolute;
    left: 30%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
}
.kurumsal h1{
	color: crimson;
	font-size: 15rem;
	text-transform: capitalize;
}
#corporate .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#corporate .projects-header h1 {
	margin-bottom: 50px;
}
#corporate .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#corporate .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#corporate .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
#corporate .project-info h1 {
	font-size: 4rem;
	font-weight: 500;
}
#corporate .project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#corporate .project-info p {
	color: white;
}
#corporate .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#corporate .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: .7;
}
#corporate .project-img img {
	transition: .3s ease transform;
}
#corporate .project-item:hover .project-img img {
	transform: scale(1.1);
}
/* End Corporate Section */
/* Career Section*/
#career .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
#career .col-left {
	width: 250px;
	height: 360px;
}
#career .col-right {
	width: 100%;
}
#career .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: .2rem;
	margin-bottom: 10px;
}
#career .col-right p {
	margin-bottom: 20px;
}
#career .col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
#career .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white;
}
#career .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid crimson;
	z-index: -1;
}
.imkanlar{
	height: 50%;
	width: 50%;
}
/* End Career Section*/
/* contact section*/
#contact{
	height: 100vh;
	display: grid;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: 'Poppins', sans-serif;
}
#contact .contact-wrap {
	width: 70%;
	height: auto;
	margin: auto;
	display: inline-flex;
	flex-wrap: wrap;
}

#contact .contact-in {
	padding: 40px 30px;
}

#contact .contact-in:nth-child(1) {
	flex: 30%;
	background: url(xxxxx.jpg);
	color: #fff;
}

#contact .contact-in:nth-child(2) {
	flex: 45%;
	background: #c31432;
}

#contact .contact-in:nth-child(3) {
	flex: 25%;
	padding: 0;
}

#contact .contact-in h1 {
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 20px;
}

#contact  .contact-in h2 {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 15px;
}

#contact .contact-in h2 i {
	font-size: 16px;
	width: 40px;
	height: 40px;
	margin-right: 10px;
	background: #f5f5f5;
	color: #000;
	border-radius: 50px;
	line-height: 40px;
	text-align: center;
}

#contact .contact-in p {
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 20px;
}



#contact .contact-in form {
	width: 100%;
	height: auto;
}

#contact .contact-in-input {
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
	border: 1px solid #fff;
	outline: none;
	padding-left: 5px;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
}

#contact .contact-in-input::placeholder {
	color: #fff;
}

#contact .contact-in-textarea {
	width: 100%;
	height: 140px;
	margin-bottom: 20px;
	border: 1px solid #fff;
	outline: none;
	padding-top: 5px;
	padding-left: 5px;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
}

#contact .contact-in-textarea::placeholder {
	color: #fff;
}


#contact .contact-in iframe {
	width: 100%;
	height: 100%;
}
/*  end contact section*/
/* footer */
#footer{
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer{
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2{
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: .1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon{
	display: flex;
	margin-bottom: 30px
}
#footer .social-item{
	height: 50px;
	width: 50px;
	margin: 0 5 px;
}
#footer .social-item img{
	filter: grayscale(1);

	transition: .3s ease filter;
}
#footer .social-item :hover img{
	filter: grayscale(0);
}
#footer p{
	color: white;
	font-size: 1.3rem;
}
/* end footer */
/*Keyframes*/
@keyframes text_reveal_box{
	50%{
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal{
	100%{
		color: white;
	}
}@keyframes text_reveal_name{
	100%{
		color: white;
		font-weight: 500px;
	}
}
/* End Keyframes*/

/* Media Query For Tablet*/
@media only screen and (min-width: 768px){
	.cta{
		font-size: 2.5rem
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}
	/* hero*/
	#hero h1{
		font-size: 7rem;
	}
	
	/*end hero*/

	/*services section*/
     .services .service-bottom .service-item {
	    flex-basis: 45%;
	    margin: 2.5%;
    }
	/*endservices section*/
	/*corporate*/
   	#corporate  .project-item {
		flex-direction: row;
	}
    #corporate  .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#corporate  .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#corporate  .all-projects .project-info {
		height: 100%;
	}
	#corporate .all-projects .project-img {
		height: 100%;
	}
	/*end corporate*/
	/**/
    /* career*/
    #career .career{
 	    flex-direction: row;
    }
    #career .col-left{     	
 	    width: 600px;
 	    height: 400px;
 	    padding-left: 60px;
    }
    #career .career .col-left .career-image::after{
 	    left: -45px;
 	    top: 34px;
 	    height: 98%;
 	    width: 98%;
 	    border: 10px solid crimson;
    }
    #career .col-right{
 	    text-align: left;
 	    padding: 30px;
    }
    #career .col-right h1{
 	    text-align: left;
}
    /* end career*/

 #header .nav-list ul li {
	display: inline-block;
    }
 #header .nav-list ul li a{
	font-size: 1.8rem;
    }
 #header .nav-list ul a:after {
	display: none;
   }
}
/*End Media Query For Tablet*/
/* Media Query For Desktop*/
@media only screen and (min-width: 1200px){
	#services .services-bottom .service-item{
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End Media Query For Desktop*/
@media only screen and (min-width: 480px){
#tre{
	height: 1400px;
}
.tre-p2 h1{
	font-size: 60px;
	bottom: -950px;
	color: black;
}
.tre-img{
	height: 30%;
	width: 50%;
}
}
.contact-in:nth-child(1) {
		flex: 50%;
}
.contact-in:nth-child(2) {
		flex: 50%;
}

.contact-in:nth-child(3) {
		flex: 100%;
}
}
#contact{
	height: 1400px;
}
@media only screen and (min-width: 320px){
#tre{
	height: 1200px;
}
.tre-p2 h1{
	font-size: 60px;
	bottom: -1000px;
	color: black;
}

#tre .tre-img {
    height: 54%;
    width: 70%;
    position: absolute;
    bottom: -700px;
    left: 0px;
}
.anasayfa h1{
	bottom: 316px;
}
.anasayfa h2{
	bottom: 252px;
}
.hizmet h1{
	bottom: 21px;
	left: -47px;
}
.kariyer h1{
	bottom: 252px;
	left: 25px;
}
.kariyer h2{
	bottom: 249px;
	left: 25px;
}
.ilet h1{
	bottom: 252px;
}
.ilet h2{
	bottom: 249px;
}
.contact-in:nth-child(1) {
		flex: 50%;
}
.contact-in:nth-child(2) {
		flex: 50%;
}

.contact-in:nth-child(3) {
		flex: 100%;
}
#contact{
	height: 1400px;
}
}
@media only screen and (max-width: 320px){
 #contact{
 	height: 1700px;
 }
}